{% extends 'layout.html' %}

{% block body %}
<h1><b>Courseworks & Skills</b></h1>

<ol><h3 id="data_structures"><li>Data Structures</li></h3>
<ul style="list-style-type: square">
<li>Construct a sentiment analysis program on movie reviews using Python.</li>
<li>Studied multitude of sorting algorithmns, sush as insertion sort, selection sort, merge sort, and tree sort.</li>
</ul>

<h3 id="web_and_database_development"><li>Web and Database Development</li></h3>
<ul style="list-style-type: square">
<li>Built functioning websites using HTML, CSS, and Python Flask.</li>
<li>Created Towers of Hanoi and Dices Roller using Javascript and JQuery.</li>
<li>Sketeched Entity Relationship Diagram as a layout to structure mySQL.</li>
</ul>

<h3 id="system_administration"><li>System Administration</li></h3>
<ul style="list-style-type: square">
<li>Exploited BASH to generate scripts that display system information and account names, backups files, a timer, student record and accounts generator.</li>
<li>Created a script using Caesar cipher to encrypt and decrypt information</li>
</ul>

<h3 id="skills"><li>Skills</li></h3>
<ul style="list-style-type: square;">
<li>Fluent in Chinese Mandarin and English.</li>
<li>Proficient in Java, Python, BASH Script, HTML, CSS, JavaScript and Microsoft Office packages including Access, Excel, PowerPoint and Word.</li>
<li>Basic in Ruby and SQL.</li>
</ul></ol>

{% endblock %}