{% extends 'layout.html' %}

{% block body %}
<div class="jumpotron text-center">
	<h1>Welcome To My Resume Page.</h1>
</div>
<div style="text-align: left">
	<h5 id="linkedin">Linkedin Page: <a href="https://www.linkedin.com/in/weihanchen0725">Linkedin</a></h5>
	<h5 id="github">Github Page: <a href="https://github.com/weihanchen0725">Github</a></h5>
	<h5 id="email">Email: <a href="mailto:weihanchen0725@gmail.com">weihanchen0725@gmail.com</a></h5>
	<h5 id="phone">Phone: 203-893-0205</h5>
</div>
{% endblock %}
